@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
  color: var(--foreground, #fff);
}

body {
  position: relative;
  overflow-y: auto;
  background-color: var(--background);
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(-10%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 1.5s ease-in-out forwards;
}

.animate-delay-1 {
  animation-delay: 0.2s;
}
.animate-delay-2 {
  animation-delay: 0.4s;
}
.animate-delay-3 {
  animation-delay: 0.6s;
}
